:root {
  /* Cores - Tema Claro */
  --cor-fundo: #fff;
  --cor-texto: #040c0e;
  --cor-destaque: #525b56;
  --cor-link: #132226;
  --cor-link-opacidade-40: #13222660;
  --cor-botao: #be9063;
  --cor-botao-texto: #fff;

  /* Cores - Tema Escuro */
  --cor-fundo-escuro: #040c0e;
  --cor-texto-escuro: #fff;
  --cor-destaque-escuro: #be9063;
  --cor-link-escuro: #a4978e;
  --cor-botao-escuro: #525b56;
  --cor-botao-texto-escuro: #fff;

  /* Fontes */
  --fonte-titulo: "Sitka Heading", serif;
  --fonte-corpo: "Georgia", serif;

  /* Tamanhos de Fonte */
  --tamanho-fonte-titulo: 2.4rem;
  --tamanho-fonte-titulo-2: 2rem;
  --tamanho-fonte-titulo-3: 1.6rem;
  --tamanho-fonte-corpo: 1.2rem;

  /* Espaçamentos */
  --espacamento-linha: 1.5;
  --espacamento-letra: normal;

  --tamanho-borda: 0.6mm;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  color: var(--cor-texto);
  background-color: var(--cor-fundo);
  font-family: var(--fonte-corpo);
  font-size: var(--tamanho-fonte-corpo);
  line-height: var(--espacamento-linha);
}

header {
  display: flex;
  align-content: center;
  flex-direction: row;
  height: 10%;
}

main {
  display: flex;
  padding-bottom: 2rem;
  overflow-y: visible;
  height: 80%;
  min-height: 90%;
}

footer {
  background-color: var(--cor-fundo);
  margin-top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.8rem 0;
  opacity: 1;
  transition: opacity 0.5s ease-out;
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
}

.navegacao-topo {
  padding: 0 1rem;
}

.botao-topo {
  height: 1.8rem;
  width: 1.8rem;
  color: var(--cor-destaque);
  font-size: var(--tamanho-fonte-corpo);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.botao-topo:hover {
  border: var(--tamanho-borda) solid var(--cor-link);
}

h1,
h2,
h3 {
  font-family: var(--fonte-titulo);
  font-size: var(--tamanho-fonte-titulo);
}

h2 {
  font-size: var(--tamanho-fonte-titulo-2);
}
h3 {
  font-size: var(--tamanho-fonte-titulo-3);
}