:root {
  --radius-barra-pesquisa: 25px;
  --padding-barra-pesquisa: 1mm;
}

.barra-abas ul,
li {
  margin: 0;
  padding: 0;
}

.barra-abas ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.barra-abas li {
  padding: 0 1rem;
  margin: 0 1rem;
  cursor: pointer;
}

.barra-abas li:hover {
  border-bottom: var(--tamanho-borda) solid var(--cor-link);
  color: var(--cor-destaque)
}

.barra-abas {
  flex: 1;
}

.barra-pesquisa {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  margin-right: 2.4rem;
  height: 1.6rem;
}

.barra-pesquisa input {
  padding: var(--padding-barra-pesquisa);
  border: var(--tamanho-borda) solid #ccc;
  border-radius: var(--radius-barra-pesquisa);
}

.barra-pesquisa button {
  height: 1.6rem;
  width: 1.6rem;
  color: var(--cor-botao-texto);
  border: none;
  border-radius: var(--radius-barra-pesquisa);
  cursor: pointer;
  padding: var(--padding-barra-pesquisa);
  align-items: center;
  margin-left: 0.6rem;
  transition: transform 0.3s ease-in-out;
}

.barra-pesquisa button:hover {
  border: var(--tamanho-borda) solid var(--cor-link);
}
