:root {
  --radius-barra-pesquisa: 15px;
  --radius-botao-pesquisa: 50%;
  --padding-barra-pesquisa: 1mm;
  --tamanho-barra-pesquisa: 15rem;
}

.barra-abas ul,
li {
  margin: 0;
  padding: 0;
}

.barra-abas ul {
  width: 100%;

  list-style: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.barra-abas li {
  cursor: pointer;
}

.barra-abas li:hover {
  border-bottom: var(--tamanho-borda) solid var(--cor-link);
  color: var(--cor-destaque)
}

.barra-abas li a {
  all: unset;
}

.active {
  color: var(--cor-destaque) !important;
}

.barra-abas {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
}

.barra-pesquisa {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}

.barra-pesquisa input {
  width: var(--tamanho-barra-pesquisa);
  border: var(--tamanho-borda) solid #ccc;
  border-radius: var(--radius-barra-pesquisa);
}

.barra-pesquisa button {
  height: 2rem;
  width: 2rem;
  color: var(--cor-botao-texto);
  border: none;
  border-radius: var(--radius-botao-pesquisa);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.barra-pesquisa button:hover {
  border: var(--tamanho-borda) solid var(--cor-link);
}
