.navegacao-topo {
  height: 100%;

  display: flex;
  align-items: center;
}

.botao-topo {
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.botao-topo:hover {
  border: var(--tamanho-borda) solid var(--cor-link);
}
