.item-artigo {
  margin: auto 1rem;
  display: flex;
  flex-direction: column;
}

.item-artigo-conteudo {
  height: 80%;
  font-size: small;
}

.item-artigo-conteudo h1 {
  font-size: x-large;
  margin-bottom: 1.5mm;
}

.item-artigo-conteudo h2 {
    font-size: medium;
}

.item-artigo-tags {
  display: flex;
  flex-direction: column;
}