@if (IsListItem)
{
    <li class="tag-item">
        <NavLink class="unset" href="@(Tag.Href)">@(Tag.Name)</NavLink>
    </li>
}
else
{
    <span class="tag-item">
        <NavLink href="@(Tag.Href)">@(Tag.Name)</NavLink>
    </span>
}
