<nav class="barra-abas">
  <ul>
    <li>
      <NavLink class="hover-border" href="/" Match="NavLinkMatch.All">Início</NavLink>
    </li>
    <li>
      <NavLink class="hover-border" href="/articles">Artigos</NavLink>
    </li>
    <li>
      <NavLink class="hover-border" href="/curriculum">Currículo</NavLink>
    </li>
    <li>
      <NavLink class="hover-border" href="/contact">Redes Sociais</NavLink>
    </li>
  </ul>
</nav>
<nav class="barra-pesquisa">
  <input type="text" placeholder="Pesquisar..." />
  <button class="botao-redondo botao-pesquisa">
    <span class="ico ico-lupa" />
  </button>
</nav>