.ico {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;

  height: 100%;
  width: 100%;
}

.ico-github {
  background-image: url("/assets/icons/icons8-github.svg");
}

.ico-instagram {
  background-image: url("/assets/icons/icons8-instagram.svg");
}

.ico-linkedin {
  background-image: url("/assets/icons/icons8-linkedin.svg");
}

.ico-tiktok {
  background-image: url("/assets/icons/icons8-tiktok.svg");
}

.ico-youtube {
  background-image: url("/assets/icons/icons8-youtube.svg");
}

.ico-lupa {
  background-image: url("/assets/icons/magnifier-glass-svgrepo-com.svg");
}

.ico-seta-direita {
  background-image: url("/assets/icons/right-arrow-svgrepo-com.svg");
}

.ico-seta-esquerda {
  background-image: url("/assets/icons/right-arrow-svgrepo-com.svg");
  transform: rotate(180deg);
}

.ico-seta-cima {
  background-image: url("/assets/icons/up-arrow-svgrepo-com.svg");
}

.ico-seta-baixo {
  background-image: url("/assets/icons/up-arrow-svgrepo-com.svg");
  transform: rotate(180deg);
}

.ico-copyleft {
  background-image: url("/assets/icons/copyleft-symbol-freesvg.org.svg");
}