.selected-list {
    display:flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: .5rem;
    list-style: square;
}

.selected-item {
    font-size: small;
    cursor: pointer;
}

.selected-item:hover {
    color: var(--cor-destaque);
}