<nav class="item-artigo-tags">
    @for (int pageIndex = 0; temProximaPagina; pageIndex++)
    {
        var currentPage = Tags
        .Skip(pageIndex * MaximoDeTagsPorLinha)
        .Take(MaximoDeTagsPorLinha);

        temProximaPagina = currentPage.Any();

        if (!temProximaPagina) break;

        <ul class="item-artigo-tags-linha">
            @foreach (var tag in currentPage)
            {
                <li class="tag-item">
                    <button type="button" class="tag-button" @onclick="() => AoClicarNaTag(tag)">@(tag.Nome)</button>
                </li>
            }
        </ul>
    }
</nav>