.item-artigo-tags-linha {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.item-artigo-tags {
  display: flex;
  flex-direction: column;
  min-width: 570px;
}

.item-artigo-tags-linha span {
  border-left: 1px solid var(--cor-destaque);
  border-bottom: 2px solid var(--cor-destaque);
  border-radius: 12px;
  font-size: x-small;
  text-align: center;
  margin: 0.3rem;
  padding: 0 0.5rem;
}

.tag-link {
    display: flex;
}