<section class="creditos">
    <h5>
        Software desenvolvido sob licença
        <a href="https://www.gnu.org/licenses/gpl-3.0.html">
            <span class="ico ico-copyleft"></span>
            GNU GENERAL PUBLIC LICENSE
        </a>
    </h5>
</section>