.loading {    
    border: var(--tamanho-borda) solid var(--cor-destaque);
    border-top: var(--tamanho-borda) solid transparent;
    border-radius: var(--radius-circulo);
    width: 1.6rem;
    height: 1.6rem;
    animation: spin 0.75s linear infinite;
    margin: 0 1rem;
    background-color: var(--cor-fundo);
    position: absolute;
    left: 0;
    bottom: 1rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}