@using MyPersonalBlog.Components.Article.ArticleCard
@using MyPersonalBlog.Components.Input.InputTags
@using MyPersonalBlog.Components.Article.ArticleFilter

@page "/articles"
<PageTitle>Artigos - Gabriel Santos</PageTitle>

<main class="artigos">
        <ArticleFilter Model="Filter" OnFilter="OnFilter" />
    @if (articleList.Any())
    {
        <div class="listagem-artigos">
            @foreach (var article in articleList)
            {
                <ArticleCard Title="@(article.Title)" DisplayContent="@(article.DisplayContent)" Tags="@(article.Tags)"
                    Href="@(article.Url)" />
            }
        </div>
    }
    else
    {
        @if (LoadingService.IsLoading)
        {
            <section>
                <h4>Carregando...</h4>
            </section>
        }
        else
        {
            <section>
                <h4>Nenhuma postagem encontrada...</h4>
            </section>
        }
    }
</main>