@using MyPersonalBlog.Components.Article.ArticleCard
@using MyPersonalBlog.Components.Input.InputTags
@using MyPersonalBlog.Components.Article.ArticleFilter

@page "/articles"
<PageTitle>Artigos - Gabriel Santos</PageTitle>

<main class="artigos">
    <ArticleFilter Model="Filter" AoFiltrar="AoFiltrar" />
    @if (listaDeArtigos.Any())
    {
        <div class="listagem-artigos">
            @foreach (var article in listaDeArtigos)
            {
                <ArticleCard Artigo="article" AoAdicionarTagNoFiltro="AoAdicionarTagNoFiltro" />
            }
        </div>
    }
    else
    {
        @if (LoadingService.EstaCarregando)
        {
            <section>
                <h4>Carregando...</h4>
            </section>
        }
        else
        {
            <section>
                <h4>Nenhuma postagem encontrada...</h4>
            </section>
        }
    }
</main>