@using MyPersonalBlog.Components.Input.InputTags

<aside class="menu-filter">
    <form class="form-filter">
        <fieldset class="fieldset-form-filter">
            <input class="input" type="text" placeholder="Título..." @bind-value="Model.Title" />
            <InputTags SelectedTags="Model.Tags" OnAddItemCallback="OnFilter" OnRemoveItemCallback="OnFilter" />
        </fieldset>
    </form>
</aside>